<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PROMIN - утіліта для досліджень у галузі CV з відкритим кодом</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ponomar&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ponomar&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/connection-lost-overlay.css">
    <link rel="stylesheet" href="../static/css/messagebox.css">
    <link rel="stylesheet" href="../static/css/loading-panel.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/project-page.css">

    <link rel="icon" href="../static/images/favicon_new.ico" type="image/x-icon">

</head>

<body>
    <div id="loading-panel" class="loading-panel">
        <div class="loading-spinner"></div>
        <p>Завантаження...</p>
    </div>

    <header>
        <nav class="navbar">
            <ul class="nav-menu">
                <li class="nav-item dropdown">
                    <a href="#">🗂️ Проект ▾</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="save-project-btn">💾 Зберегти</a></li>
                        <li><a href="#" id="close-project-btn">🔴 Закрити</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#">🚀 Аналіз ▾</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="models-analysis-btn">📈 Новий аналіз</a></li>
                        <li><a href="#" id="get-reports-btn">📋 Звіти</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#" id="enter_playground_btn">🎮 Пісочниця</a></li>
                <li class="nav-item"><a href="#" id="cuda_status_btn">🧮 CUDA статус</a></li>
                <li class="nav-item"><a href="#">ℹ️ Допомога</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="frame-viewer" id="frame-viewer">
            <div class="frame-viewer-header">
                <h2>Кадр #<span id="frame-number">4</span></h2>
            </div>
            <div class="image-container" id="image-container">
                <img src="" alt="Frame Image" id="frame-image">
                <div id="bounding-boxes"></div> <!-- Сюда будем добавлять рамки -->
            </div>
        </div>
        <div id="bounding-boxes-list">
            <div id="bounding-boxes-list-control-container">
                <h3>Об'єкти:</h3>
                <div id="bounding-boxes-list-control-buttons">
                    <button id="add-bounding-box-btn" class="add-bounding-box-btn">Додати</button>
                </div>
            </div>
            <div id="bounding-boxes-values"></div>
        </div>
        <div class="classes-and-colors" id="classes-and-colors">
            <h3>Класи:</h3>
            <div id="classes-and-colors-list"></div>
        </div>
    </main>
    <footer>
        <div class="frames-container">
            <div class="frames-list"></div>
            <div class="pages-control">
                <button id="prev-page" class="prev-page">⬅</button>
                <span id="pages-counter">1/1</span>
                <button id="next-page" class="next-page">➡</button>
            </div>
        </div>
    </footer>

    <div id="playground-panel" class="playground-panel">
        <div id="playground-panel-header" class="playground-panel-header">
            <h2>Пісочниця 🎮</h2>
            <button id="close-playground-panel-btn" class="close-playground-panel-btn">❌</button>
        </div>
        <div id="playground-panel-content" class="playground-panel-content">
            <div class="image-container" id="playground-image-container">
                <div class="playground-image-container-section">
                    <img src="" alt="Frame Image" id="playground-frame-image">
                    <div id="playground-bounding-boxes"></div>
                </div>
                <div class="playground-image-container-section">
                    <pre id="playground-log-output" class="playground-log-output"></pre>
                </div>
            </div>
            <div class="playground-methods" id="playground-methods">
                <div class="playground-methods-section">
                    <input type="text" id="playground-command-input" placeholder="Например: preproc median k=5"
                        style="width: 100%; padding: 8px; margin-bottom: 8px;">
                </div>
            </div>
        </div>
    </div>

    <div id="select-report-panel" class="select-report-panel">
        <div id="select-report-panel-header" class="select-report-panel-header">
            <h2>Обрати звіт 📈</h2>
            <button id="close-select-report-panel-btn" class="close-select-report-panel-btn">❌</button>
        </div>
        <div id="select-report-panel-content" class="select-report-panel-content">
            <select id="report-selector"></select>
            <button id="select-report-btn" class="run-analysis-btn">Подивитися звіт 👀</button>
        </div>
    </div>

    <div id="view-report-panel" class="view-report-panel">
        <div id="view-report-panel-header" class="view-report-panel-header">
            <h2>Подивитися звіт 📈</h2>
            <button id="close-view-report-panel-btn" class="close-view-report-panel-btn">❌</button>
        </div>
        <div id="view-report-panel-content" class="view-report-panel-content">
        </div>
    </div>

    <div id="analysis-panel" class="analysis-panel">
        <div id="analysis-panel-header" class="analysis-panel-header">
            <h2>Аналіз 📈</h2>
            <button id="close-analysis-panel-btn" class="close-analysis-panel-btn">❌</button>
        </div>
        <div id="analysis-panel-content" class="analysis-panel-content">
            <h3 class="outside-div-elems">Моделі 🤖:</h3>
            <label class="outside-div-elems"><input class="outside-div-elems" type="checkbox" name="select_all_models"
                    value="select_all" id="select_all_models">Обрати всі</label><br>
            <div id="model-selection">
                <div>
                    <label><input type="checkbox" name="model" value="yolo_11_x"> YOLOv11(x)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_11_s"> YOLOv11(s)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_11_n"> YOLOv11(n)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_11_m"> YOLOv11(m)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_11_l"> YOLOv11(l)</label><br>
                </div>
                <div>
                    <label><input type="checkbox" name="model" value="yolo_10_n"> YOLOv10(n)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_10_s"> YOLOv10(s)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_10_m"> YOLOv10(m)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_10_b"> YOLOv10(b)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_10_l"> YOLOv10(l)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_10_x"> YOLOv10(x)</label><br>
                </div>
                <div>
                    <label><input type="checkbox" name="model" value="yolo_9_t"> YOLOv9(t)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_9_s"> YOLOv9(s)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_9_m"> YOLOv9(m)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_9_c"> YOLOv9(c)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_9_e"> YOLOv9(e)</label><br>

                </div>
                <div>
                    <label><input type="checkbox" name="model" value="yolo_8_n"> YOLOv8(n)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_8_s"> YOLOv8(s)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_8_m"> YOLOv8(m)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_8_l"> YOLOv8(l)</label><br>
                    <label><input type="checkbox" name="model" value="yolo_8_x"> YOLOv8(x)</label><br>
                </div>
                <div>
                    <label><input type="checkbox" name="model" value="faster_rcnn"> Faster R-CNN</label><br>
                    <label><input type="checkbox" name="model" value="mask_rcnn"> Mask R-CNN</label><br>
                    <label><input type="checkbox" name="model" value="ssd"> SSD</label><br>
                    <label><input type="checkbox" name="model" value="detr"> DETR</label><br>
                    <label><input type="checkbox" name="model" value="retina_net">RetinaNet</label><br>
                </div>
            </div>
            <div id="preproc-selection">
                <h3>Последовність препроцесінга 🛠️:</h3>
                <label for="preproc-file-input">Завантажити файл пайплайна (.json):</label><br>
                <input type="file" id="preproc-file-input" accept=".json"><br>
                <button id="show-preproc-scheme-btn" type="button" class="single-pretty-button">👁️ Показати пайплайн препроцесінга</button><br>
            </div>
            <button id="run-analysis-btn" class="run-analysis-btn">Розпочати аналіз ▶️</button>
            <div id="analysis-process">
                <h3 id="analysis-welcome-text">Зараз відбувається магія і трошки аналіза</h3>
                <dotlottie-player id="analysis-loader"
                    src="https://lottie.host/daa85c4f-630f-4c0b-8e7c-318f4ff57144/oNaOJbftGi.lottie"
                    background="transparent" speed="1" style="width: 300px; height: 300px" loop
                    autoplay></dotlottie-player>
                <h2 id="analysis-step"></h2>
                <h3 id="analysis-message-text"></h3>
                <audio id="bg-analysis-music" loop style="display: none;">
                    <source src="{{ url_for('static', filename='audio/bg_music.mp3') }}" type="audio/mpeg">
                </audio>
                <audio id="done-sound" style="display: none;">
                    <source src="{{ url_for('static', filename='audio/done_music.mp3') }}" type="audio/mpeg">
                </audio>
            </div>
            <div id="analysis-done-div">
                <h1>✅</h1>
                <h2>Аналіз завершено!</h2>
                <button id="analysis-done-btn">OK</button>
            </div>
        </div>
    </div>

    <div id="preproc-scheme-modal" class="message-box">
        <h2>Пайплайн препроцесінга:</h2>
        <div id="canvas-container" style="overflow-x: auto; width: 100%;">
            <canvas id="preproc-canvas" height="180"></canvas>
        </div>
        <button class="ok-button" id="preproc-scheme-modal-ok-btn">OK</button>
    </div>

    <div id="message-box" class="message-box">
        <div class="message-content">
            <img src="https://cdn-icons-png.flaticon.com/512/190/190411.png" alt="Info Icon" class="message-icon" />
            <p class="message-text">Це інформаційне повідомлення для користувача.</p>
        </div>
        <button class="ok-button" id="message-box-ok-btn">ОК</button>
    </div>

    <div id="confirm-box" class="message-box" style="display:none;">
        <div class="message-content">
            <img src="../static/images/quest.png" alt="Confirm Icon" class="message-icon" />
            <p class="message-text" id="confirm-text">Підтвердження дії</p>
        </div>
        <div style="display: flex; justify-content: center; gap: 16px;">
            <button class="ok-button" id="confirm-ok-btn">OK</button>
            <button class="ok-button" id="confirm-cancel-btn" style="background-color:#d9534f;">Відмінити</button>
        </div>
    </div>

    <div id="prompt-box" class="message-box" style="display:none;">
        <div class="message-content">
            <img src="../static/images/enter.png" alt="Prompt Icon" class="message-icon" />
            <div style="flex: 1; text-align: left;">
                <p class="message-text" id="prompt-text">Ваш вміст:</p>
                <input type="text" id="prompt-input"
                    style="width: 100%; padding: 8px; border-radius: 6px; border: 1px solid #ccc; margin-top: 8px; font-size: 16px;" />
            </div>
        </div>
        <div style="display: flex; justify-content: center; gap: 16px;">
            <button class="ok-button" id="prompt-ok-btn">OK</button>
            <button class="ok-button" id="prompt-cancel-btn" style="background-color:#d9534f;">Відмінити</button>
        </div>
    </div>

    <div id="connection-lost-overlay" class="connection-lost-overlay" style="display: none;">
        <div class="connection-lost-box">
            <img src="/static/images/no-internet.png" alt="No connection" class="connection-lost-icon" />
            <p class="connection-lost-text">З'єднання із сервером втрачено</p>
        </div>
    </div>

    <!--========================================-->
    <!-- КОНТЕКСТНІ МЕНЮШКИ (З'ЯВЛЯЮТЬСЯ ПО ПКМ)-->
    <!--========================================-->

    <div id="context-menu-bb" class="context-menu">
        <div class="context-menu-item" id="ctx-bb-change-class">✏️ Змінити клас</div>
        <div class="context-menu-item" id="ctx-bb-duplicate">📑 Дублювати</div>
        <div class="context-menu-item" id="ctx-bb-copy">📋 Копіювати</div>
        <div class="context-menu-separator"></div>
        <div class="context-menu-item delete" id="ctx-bb-delete">🗑️ Видалити</div>
    </div>

    <!--========================================-->
    <!-- ПІДКЛЮЧЕННЯ СКРИПТІВ-->
    <!--========================================-->

    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

    <script src="../static/js/messagebox.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/bounding-boxes.js"></script>
    <script src="../static/js/frames-rendering.js"></script>
    <script src="../static/js/classes-and-colors.js"></script>
    <script src="../static/js/reports.js"></script>
    <script src="../static/js/playground.js"></script>
    <script src="../static/js/analysis.js"></script>
    <script src="../static/js/connections-lost-overlay.js"></script>
    <script src="../static/js/project-page.js"></script>
    <script src="../static/js/frames-zooming.js"></script>
</body>

</html>