<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROMIN - an open-source utility for computer vision research</title>
    <link rel="stylesheet" href="../static/css/video_processing.css">
    <link rel="icon" href="../static/images/favicon_new.ico" type="image/x-icon">
</head>

<body>
    <canvas id="neuralCanvas"></canvas>

    <div id="processing-status">
        <p id="status-message">Extracting frames from the video: 0</p>
        <div id="progress-bar"></div>
    </div>

    <div class="footer">
        <p>© 2025 PROMIN - an open-source utility for computer vision research</p>
    </div>

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="../static/js/video_processing.js"></script>
</body>

</html>